@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

section {
    max-width: 800px;
    border: 1px solid grey;
    padding: 20px;
}

h1 {
    font-weight: 700;
    font-size: 26px;
}

h2 {
    font-weight: 400;
    font-size: 20px;
}

* {
    box-sizing: border-box;
}

.spoiler:not(.active) {
    display: none;
}