@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

section {
    max-width: 440px;
    border: 1px solid grey;
    padding: 20px;
}

h1 {
    font-weight: 700;
    font-size: 26px;
}

h2 {
    font-weight: 400;
    font-size: 20px;
}

.active {
    background-color: #b3dde3;
}

input,
button {
    font-weight: 400;
    font-size: 20px;
}

input {
    width: 100%;
    margin-bottom: 10px;
}

p {
    font-weight: 700;
    font-size: 20px;
}