@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

section {
    max-width: 600px;
    border: 1px solid grey;
    padding: 20px;
    margin: 0 auto;
}

h1 {
    font-weight: 700;
    font-size: 26px;
}

h2 {
    font-weight: 400;
    font-size: 20px;
}

* {
    box-sizing: border-box;
}

#slider {
    padding: 15px;
}